<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="main">
        <ul>
            <li v-for="item in people">{{ item }}</li>
        </ul>
        <input type="text" v-model="name" v-on:keyup.enter="addName">
    </div>
<script src="https://unpkg.com/vue@2.3.4"></script>
<script>
     new Vue({
     el: '#main',
     data: {
         people: ['Lynda', 'Omar', 'Zack']
     },
     name: '',
     methods: {
         addName: function() {
             this.people.push(this.name);
             this.name = '';
         }
     }
 });
</script>
</body>
</html>